.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #181818;
  color: white;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-cart {
  font-size: 20px;
}

.navbar-cart span {
  margin-left: 5px;
}